.text {
  color: black;
  text-align: left;
  float: left;
  margin: 15px;
}
#javascript-win, #ruby-win, #python-win {
  display: none;
}
#javascript-win, #ruby-win, #python-win {
  text-align: left;
  text-shadow: 2px 2px lightgrey;
}
#javascript-win {
  background-color: lightskyblue;
}
#ruby-win{
  background-color: #8CF691;
}
#python-win {
  background-color: #FEF38B; 
  text-shadow: 4px;
}

body {
  text-align: center;
}
h1 {
  color: white;
  margin: 2px;
  padding: 5px;
  text-shadow: 2px 2px black;
}
